body {
  max-width: 1480px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
.page-header {
  margin-bottom: 20px;
  background-color:#0099ef;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.page-header .wrapper {
  padding: 3px 3px 0;
}

.main-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.nav-menu {
  flex-basis: auto;
  flex-grow: 1;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}

.contacts-wrapper {
  position: relative;
  flex-basis: 160px;
  flex-grow: 1;
  text-align: right;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  flex-basis: auto;
  flex-grow: 1;
  padding: 0 0.2em;
  border-right: 2px solid #fff;
  transform: skew(-20deg);
}

.nav-menu li:last-child {
  border-right: none;

}
.nav-menu a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transform: skew(20deg);
}

.nav-menu li:hover {
  background-color: #288be6;
}

.nav-menu a:hover {
  text-decoration: underline;
  cursor: pointer; 
}

input.phone-numbers {
  display: none;
}

label {
  display: inline-block;
  width: 75px;
  text-align: center;
  margin-right: 21px;
  color: #fff;
}

label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  max-width: 250px;
  padding: 10px 10px;
  text-align: center;
  color: rgb(33, 24, 107);
  background-color: #fff;
}

.contacts-list a {
  display: block;
  padding: 8px 25px;
  color: #288be6;
  text-decoration: none;
  border-bottom: 1px solid #288be6;
}

input.phone-numbers:checked ~ .contacts-list {
  display: block;
}

.main-title-wrapper {
  border: 1px solid lightgrey;
}

.main-title {
  position: relative;
  max-width: 490px;
  height: 125px;
  font-size: 2em;
  line-height: normal;
  text-align: left;
  white-space: pre;
  color: #fff;
  text-transform: capitalize;
  margin: -1px auto 36px;
  padding: 8px;
  background-color: #e67d22;
  box-shadow: #e8e8e8 0 5px 6px; 
}

.main-title::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 2em;
  height: 2em;
  background: url("img/snowflake.svg") no-repeat 50% 50%;
  background-size: 50px auto; 
  background-color: #fff;
  border: 4px solid #e8e8e8; 
  border-radius: 6px;
}

.main-title span {
  display: inline-block;
  max-width: 260px;
  font-family: serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 7px;
  margin-left: 14px;
  padding: 4px 8px;
  color: firebrick;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow:#c57127 -4px -4px 0;
}

.main-title-wrapper p {
  max-width: 460px;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  margin: 8px auto;
  padding: 0 4px;
  color: #000;
}

.main-title-wrapper p span {
  text-decoration: underline;
}

