body {
  max-width: 1480px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 10px;
}

aside {
  padding: 10px 0;
  margin-bottom: 30px;
}

h2 {
  width: 50%;
  margin: 0 auto; 
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

table {
  width: 90vw;
  max-width: 650px;
  margin: 15px;
  border: 2px solid lightgrey;
  border-collapse: collapse;
}

caption {
  padding: 8px;
  font-weight: 600;
  color: #555;
}

th, td {
  padding: 10px;
  border: 2px solid #999; 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  margin-bottom: 20px;
  background-color:#0099ef;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.page-header .wrapper {
  padding: 3px 3px 0;
}

.main-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.navigation-menu {
  flex-basis: auto;
  flex-grow: 1;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}

.navigation-menu ul {
  display: flex;
}

.navigation-menu li {
  flex-basis: auto;
  flex-grow: 1;
  padding: 0 0.3em;
  border-right: 2px solid #fff;
  transform: skew(-20deg);
}

.navigation-menu li:last-child {
  border-right: none;

}

.navigation-menu li.current-page {
  background-color: #288be6;
}

.navigation-menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transform: skew(20deg);
}

.navigation-menu li:hover {
  background-color: #288be6;
}

.navigation-menu a:hover {
  text-decoration: underline;
  cursor: pointer; 
}

.contacts-wrapper {
  position: relative;
  flex-basis: 160px;
  flex-grow: 1;
  text-align: right;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}

input.phone-numbers {
  display: none;
}

.contacts-wrapper label {
  display: inline-block;
  width: 75px;
  text-align: center;
  margin-right: 26px;
  color: #fff;
}

.contacts-wrapper label:hover {
  cursor: pointer;
}

.contacts-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  width: 250px;
  max-width: 250px;
  padding: 10px 10px;
  text-align: center;
  color: #288be6;
  background-color: rgba(255, 255, 255, 0.9);
}

.contacts-list li:first-child {
  line-height: 1.4;
  color: #777;
}

.contacts-list a {
  display: block;
  line-height: 1.4;
  padding: 12px 25px;
  color: #288be6;
  text-decoration: none;
  border-bottom: 1px solid #288be6;
}

input.phone-numbers:checked ~ .contacts-list {
  display: block;
}

.main-title-wrapper {
  margin-bottom: 22px;
  border: 1px solid lightgrey;
}

.main-page-title {
  position: relative;
  font-size: inherit;
  max-width: 490px;
  height: 125px;
  margin: -1px auto 48px;
  padding: 5px;
  background: -webkit-radial-gradient(ellipse closest-side, orange, #e67b1e);
  background: -o-radial-gradient(ellipse closest-side, orange, #e67b1e);
  background: -moz-radial-gradient(ellipse closest-side, orange, #e67b1e);
  background: radial-gradient(ellipse closest-side, orange, #e67b1e);
}

.main-page-title span {
  display: block;
  font-size: 2em;
  line-height: normal;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.main-page-title span:nth-of-type(2) {
  margin-left: 6%;
}

.main-page-title span:nth-of-type(3) {
  margin-left: 14%;
}

.main-page-title span:last-of-type {
  width: 75%;
  font-size: 1.7em;
  line-height: 1.4;
  letter-spacing: 8px;
  font-style: italic;
  text-align: center;
  margin: 7px auto 0;
  color: #fff;
  background-color: rgba(30, 143, 255, 0.8);
  border: 4px solid skyblue;
}

.main-page-title::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 4em;
  height: 4em;
  background: url("img/snowflake.svg") no-repeat 50% 50%;
  background-size: 80% auto; 
  background-color: #fff;
  border: 4px solid #e8e8e8; 
  border-radius: 6px;
}

.main-title-wrapper p {
  width: 90vw;
  max-width: 460px;
  line-height: normal;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0 8px;
  color: #000;
}

.main-title-wrapper p span {
  text-decoration: underline;
}

.promo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.promo h2 {
  flex-basis: 100%;
  margin: 0;
  padding: 10px 0;
  color: #fff;
  background-color: #288be6;
  text-shadow: 0 0 2px #000;
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.promo p {
  flex-basis: 208px;
  font-weight: 600;
  padding-top: 180px;
  padding-bottom: 10px;
  color: indianred;
  text-transform: uppercase;
}

.advantages ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advantages li {
  font-weight: 600;
  margin-bottom: 10px;
  padding: 8px;
  padding-left: 70px;
  color: indianred;
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
  background: url("img/warranties.svg") no-repeat 10px 50%;
  background-size: 60px auto;
}

.all-brands {
  flex-basis: 350px;
}

.warranty {
  flex-basis: 260px;
}

.location {
  padding-bottom: 10px;
}

.location h2 {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #288be6;
  text-shadow: 0 0 2px #000;
  outline: 1px solid #fff;
  outline-offset: -3px; 
}

.location p {
  margin: 16px auto;
  padding: 0 8px;
  text-align: justify;
  text-indent: 8px;
}

.locality-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  border: 1px solid #e8e8e8;
}

.locality-list li {
  position: relative;
  justify-self: center;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  text-transform: uppercase;
  color: indianred;
}

.locality-list li::before {
  position: absolute;
  content: "";
  display: block;
  top: 9px;
  left: -18px;
  width: 18px;
  height: 18px;
  background-color:orange;
  border-radius: 50%;
  box-shadow: -8px 0 1px indianred;
}

.locality-list li:first-child {
  grid-column: 1 / -1;
}

.support {
  margin-bottom: 25px;
  padding: 30px 0;
  background-color: rgba(30, 143, 255, 0.9);
}

.support h2 {
  position: relative;
  width: 75%;
  max-width: 420px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 12px;
  color: rgba(28, 100, 172, 0.9);
  background-color: #fff;
  border-radius: 12px;
}

.support ::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0; 
}

.support h2::after {
  top: 100%;
  left: 3px;
  border: 18px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: skewX(-30deg);
}

.support p {
  position: relative;
  width: 75%;
  max-width: 720px;
  margin-left: auto;
  margin-right: 30px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
}

.support p::after {
  top: 100%;
  right: 3px;
  border: 18px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: skewX(30deg);
}

.support a {
  display: inline-block;
  padding: 4px 12px;
  vertical-align: baseline;
  color: #fff;
  background-color: #288be6;
  border-radius: 14px;
}

.price-page-title {
  position: relative;
  font-family: "Georgia", serif;
  max-width: 490px;
  margin: 40px auto;
  text-align: center;
}

.price-page-title .target-part {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  font-style: italic;
  color: rgb(17, 7, 100);
  background-color: rgba(255, 255, 255, 0.9);
}

.price-page-title .target-part::before {
  position: absolute;
  content: "";
  display: block;
  top: -20%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2em;
  background: -webkit-linear-gradient(12deg, #0d6dc7, #008080);
  background: -o-linear-gradient(12deg, #0d6dc7, #008080);
  background: -moz-linear-gradient(12deg, #0d6dc7, #008080);
  background: linear-gradient(12deg, #0d6dc7, #008080);
  border-radius: 50%;
  transform: rotate(-12deg);
}

aside a {
  display: inline-block;
  margin-left: 5vw;
  padding: 4px 12px;
  text-decoration: none;
}

.page-footer {
  background-color: rgb(17, 7, 100);
}

.page-footer .wrapper {
  line-height: 50px;
}

.page-footer a {
  display: inline-block;
  line-height: normal;
  margin-left: 4vw;
  padding: 8px 12px;
  vertical-align: middle;
  color: lemonchiffon;
  text-decoration: none;
}

@media screen and (min-width: 280px) and (max-width: 425px) {
  .main-title-wrapper {border-left: none; border-right: none;}
  .main-page-title::after {width: 3.4em; height: 3.4em;}
  .locality-list {grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));}
}

@media screen and (min-width: 428px) and (max-width: 768px) {
  .advantages ul {justify-content: space-around;}
}
